In [1]:
%pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (from SQLAlchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pymysql

Requirement already satisfied: pymysql in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (from mysql-connector-python) (3.20.0)
Note: you may need to restart the kernel to use updated packages.

In [121]:
import mysql.connector as conn
import pandas as pd
from apifunctions import *

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [/Users/danigomezlechonbarrachina/.wdm/drivers/chromedriver/mac64/100.0.4896.60/chromedriver] found in cache

In [5]:
from sqlalchemy import create_engine

In [6]:
# open a file
file = open("../password.txt")
  
# read the content of the file opened
content = file.readlines()
  
token=content[0]

In [22]:
str_conn=f'mysql+pymysql://root:{token}1@127.0.0.1:3306'


motor=create_engine(str_conn)


motor.execute('use etlproject')

In [27]:
datos=pd.read_sql('''select *
from twitter_earnings as ae
left join twitter_price as ap
on ae.`Announcement Date`=ap.Date
where `Actual EPS`>`Estimated EPS`;''', motor)

In [93]:
datos.head()

,Announcement Date,Fiscal Quarter End,Estimated EPS,Actual EPS,Date,Open,High,Low,Close,Adj Close,Volume,Price_change
0,02/10/2022,12/31/2021,0.16,0.17,02/10/2022,36.56,39.10,36.22,37.08,37.08,48150300.0,-1.98
1,07/22/2021,06/30/2021,-0.10,0.04,07/22/2021,68.64,70.13,68.51,69.57,69.57,24130400.0,0.04
2,04/29/2021,03/31/2021,0.00,0.06,04/29/2021,67.01,67.05,63.99,65.09,65.09,31017700.0,-0.93
3,02/09/2021,12/31/2020,0.18,0.28,02/09/2021,58.64,60.73,58.55,59.87,59.87,38253800.0,2.87
4,10/29/2020,09/30/2020,-0.07,0.07,10/29/2020,51.95,52.93,50.57,52.43,52.43,55935600.0,8.04

In [88]:
def totalreturn(number):

    a=number
    
    for i in datos['Price_change']:
    
        a=a*(1+(i/100))
        
    return a

In [89]:
totalreturn(1000)

1042.2148344681775

In [94]:
datos=pd.read_sql('''select *
from microsoft_earnings as ae
left join microsoft_price as ap
on ae.`Announcement Date`=ap.Date
where `Actual EPS`>`Estimated EPS`;''', motor)

In [95]:
totalreturn(1000)

1150.6435795233804

In [96]:
datos=pd.read_sql('''select *
from apple_earnings as ae
left join apple_price as ap
on ae.`Announcement Date`=ap.Date
where `Actual EPS`>`Estimated EPS`;''', motor)

In [97]:
totalreturn(1000)

1059.9816378395913

In [98]:
datos=pd.read_sql('''select *
from events_twitter;''',motor)

In [100]:
datos.head()

         Date  Price_change                                          news_link
0  02/06/2015         16.36  https://money.cnn.com/2015/02/06/investing/gol...
1  04/28/2015        -18.18            https://techcrunch.com/2015/04/28/oops/
2  04/27/2016        -16.28       https://investorplace.com/2016/04/denim-day/
3  09/23/2016         21.42  https://www.cnbc.com/2016/09/23/early-movers-f...
4  10/06/2016        -20.10  http://money.cnn.com/2016/10/06/investing/twit...

In [105]:
q='''select Date, Price_change
from twitter_price
where Price_change > 15
order by Price_change desc;'''

In [114]:
q2='''select et.Date,et.Price_change,news_link
from (select Date, Price_change
from twitter_price
where Price_change > 15
order by Price_change desc) as twi
left join events_twitter as et
on twi.Date=et.Date
order by et.Price_change desc;'''

In [115]:
tab1=pd.read_sql(q2,motor)

In [118]:
quepaso=tab1

In [119]:
quepaso.head()

         Date  Price_change                                          news_link
0  04/04/2022         27.12  https://www.fastcompany.com/90737739/twitter-s...
1  09/23/2016         21.42  https://www.cnbc.com/2016/09/23/early-movers-f...
2  10/26/2017         18.49  https://www.marketwatch.com/story/twitter-soar...
3  02/06/2015         16.36  https://money.cnn.com/2015/02/06/investing/gol...
4  04/23/2019         15.64  https://realmoney.thestreet.com/investing/stoc...

In [122]:
quepaso=quepaso.style.format({'news_link': make_clickable})

In [123]:
quepaso