# Transformación de tablas

Llamos a los dataframes para poder utilizarlos

In [134]:
%store -r apple_price
%store -r microsoft_price
%store -r twitter_price
%store -r apple_earnings
%store -r microsoft_earnings
%store -r twitter_earnings

In [142]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Tablas earnings

A estas tablas queremos quitarles el símbolo del dolar a los valores de EPS y queremos establecer los tipos de datos de las columnas

In [135]:
earnings_list=[apple_earnings,microsoft_earnings,twitter_earnings]
for i in earnings_list:
    quitar_dolar(i)

In [70]:
# las columnas datetime se quedan como objeto no se muy bien por que, luego volvemos a esta función

In [136]:
def cambiar_tipo_datos(frame):
    
    columns=frame.columns

    for i in range(0,2):
        pd.to_datetime(frame[columns[i]], format='%Y-%m-%d')
        
    for i in range(2,4):
        frame[columns[i]]=frame[columns[i]].astype(dtype="float")

In [137]:

for i in earnings_list:
    cambiar_tipo_datos(i)

## Tablas price

Primero quedemos poner todos los valores como float a excepción de la fecha

In [179]:
prices_list=[apple_price,twitter_price,microsoft_price]

for i in prices_list:
    
    cambiar_tipo_datos2(i)

Ahora voy a añadir una columna que se llame price change que calcule como ha cambiado el precio respecto al precio de cierre del día anterior

In [152]:
col_price_change(prices_list)

Vamos a redondear los valores a dos puntos decimales

In [180]:
for j in range(len(prices_list)):
    
    columnas=prices_list[j].columns

    for i in columnas:
        
        if i!="Date":
        
            prices_list[j][i]=prices_list[j][i].round(decimals=2)

In [184]:
microsoft_price

,Date,Open,High,Low,Close,Adj Close,Volume,Price_change
0,2015-01-02,46.66,47.42,46.54,46.76,41.11,27913900.0,0.00
1,2015-01-05,46.37,46.73,46.25,46.33,40.73,39673900.0,-0.92
2,2015-01-06,46.38,46.75,45.54,45.65,40.13,36447900.0,-1.47
3,2015-01-07,45.98,46.46,45.49,46.23,40.64,29114100.0,1.27
4,2015-01-08,46.75,47.75,46.72,47.59,41.84,29645200.0,2.94
...,...,...,...,...,...,...,...,...
1830,2022-04-08,300.44,301.12,296.28,296.97,296.97,24347400.0,-1.46
1831,2022-04-11,291.79,292.61,285.00,285.26,285.26,34569300.0,-3.94
1832,2022-04-12,289.24,290.74,280.49,282.06,282.06,30966700.0,-1.12
1833,2022-04-13,282.73,288.58,281.30,287.62,287.62,21907200.0,1.97
1834,2022-04-14,288.09,288.31,279.32,279.83,279.83,28107900.0,-2.71

In [166]:
fnum = 7.154327

res = "{:.2f}".format(fnum)

In [167]:
res

'7.15'